.item
  %h1= %Q{"#{item.title}", #{item.pages} S. &mdash; #{item.price}}
  .description
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
