%ol.list
  - @items.each do |item|
    %li
      .item
        %h1= item.description_line
        .description
          Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
