Controller Presenter:
= @controller_presenter.render_as :list_item

View Presenter:
- presenter = collection_presenter_for @items
= presenter.list
= presenter.collection
%div{ :style => 'clear: both;' }
= presenter.table